In [ ]:
name =input ("Ente your name: ")
Dept = input("Enter yout Dept: ")

print("Concatenates=", name+Dept)

Ente your name: promod chandra das
Enter yout Dept: Computer science
Concatenates= promod chandra dasComputer science

In [3]:
num1=int(input ("Enter your frist number: "))
num2 = int(input ("Enter your second number:"))

print("Sum=", num1+num2)
print("Difference= ", num1-num2)
print("product =", num1*num2 )
print("Quotient=", num1/num2)

Enter your frist number: 5
Enter your second number:6
Sum= 11
Difference=  -1
product = 30
Quotient= 0.8333333333333334

In [4]:
length =int(input("Enter your first number: "))
width = int(input ("Enter your second number:"))

print("area=",length *width )

Enter your first number: 5
Enter your second number:7
area= 35

In [5]:
user_input = input ("Enter a string: ")
string_length=len(user_input)
print("The length of the string is:",string_length)

Enter a string: promod
The length of the string is: 6

In [8]:
numbers =[10,20,30,40,50]

print("Second number:",numbers[1])
print("Fourth number:",numbers[3])

Second number: 20
Fourth number: 40

In [ ]:
while True:
    name = input("Enter your name: ")
    if name.lower() == 'exit':
        print("Goodbye!")
        break
    age = input("Enter your age: ")
    print(f"Hello, {name}! You are {age} years old.")

Enter your name: promod
Enter your age: 22
Hello, promod! You are 22 years old.

In [29]:
 numbers = [12, 45, 7, 34, 22]

print(f"List of numbers: {numbers}")
print(f"Minimum: {min(numbers)}")
print(f"Maximum: {max(numbers)}")
print(f"Sum: {sum(numbers)}")

List of numbers: [12, 45, 7, 34, 22]
Minimum: 7
Maximum: 45
Sum: 120